* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --white: #fff;
  --yellow: #ff9900;
  --yellow-hover: #e08700;
  --light-yellow: #fdc900;
  --dark-blue: #051829;
  --light-blue-btn: #08c;
  --light-blue-btn-hover: #0074ad;
  --light-blue: #337ab7;
  --light-blue-hover: #23527c;
  --text-gray: #6a6a6a;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--text-gray);
}
ul {
  margin-left: 19px;
}
ul li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--text-gray);
  line-height: 1.6em;
  padding-bottom: 10px;
}
.wrapper {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
}
.scroll-to-top {
  position: fixed;
  z-index: 9999;
  background: var(--light-yellow);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  align-items: center;
  display: flex;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 0 10px 5px #c2c2c279;
}
.scroll-to-top:hover {
  background: #ecbd00;
}
.scroll-to-top img {
  width: 100%;
  max-width: 13px;
  margin: 0 auto;
}

/* =========================== call-to-action =========================== */

.call-to-action {
  display: flex;
  flex-direction: column;
}
.call-to-action .call-button {
  text-decoration: none;
  text-align: center;
  padding: 20px 25px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--white);
  border-radius: 5px;
  background: var(--yellow);
  transition: all 0.3s ease;
}
.call-to-action .call-button:hover {
  background: var(--white);
  color: var(--yellow);
  font-weight: 500;
  outline: 1px solid var(--yellow);
}
.call-to-action .online-request {
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 20px 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--white);
  background: var(--light-blue-btn);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.call-to-action .online-request:hover {
  background: var(--white);
  color: var(--light-blue);
  outline: 1px solid var(--light-blue);
  font-weight: 500;
}

/* =========================== slider =========================== */

.slider-container {
  position: relative;
}
.slider-container .slider {
  position: relative;
}
.slider-container .slider .slide {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
  max-height: 820px;
  min-height: 500px;
}
.slider-container .slider .slide img {
  width: 100%;
  position: relative;
  object-fit: cover;
}
.slider-container .slider .slide .img-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
}

.slider-container .slider .slide .content {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  color: var(--white);
}
.slider-container .slider .slide .content h2 span {
  color: var(--yellow);
}

/* =========================== about =========================== */
.about {
  margin-bottom: 60px;
}
.about.wrapper {
  max-width: 90%;
}
.about .container {
  width: 100%;
  padding: 0 20px;
  margin-top: -110px;
  border-radius: 6px;
  z-index: 9;
  position: relative;
  background: var(--dark-blue);
}
.about .container .items {
  display: flex;
  width: 100%;
}
.about .container .items .item {
  width: 100%;
  text-align: center;
  padding: 30px 20px;
}
.about .container .items .item span {
  color: var(--white);
  opacity: 0.2;
  font-size: 62px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.about .container .items .number p {
  color: var(--yellow);
  font-size: 32px;
  font-weight: normal;
  line-height: 1.1;
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -35px;
}
.about .container .items .description p {
  color: var(--white);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}

/* =========================== buy-in-minsk =========================== */
.buy-in-minsk {
  margin-bottom: 40px;
}
.buy-in-minsk .headline {
  margin-bottom: 60px;
  width: 49%;
}
.buy-in-minsk .headline h2 {
  text-align: right;
  font-weight: 400;
  font-size: 36px;
  color: var(--dark-blue);
}
.buy-in-minsk .headline h2::after {
  content: "";
  display: flex;
  width: 30%;
  margin-top: 12px;
  border-radius: 2px;
  background: var(--yellow);
  height: 2px;
  margin-right: 0;
  margin-left: auto;
}
.buy-in-minsk .headline:hover h2::after {
  animation-name: headlineUnderline30;
  animation-duration: 1s;
}
@keyframes headlineUnderline30 {
  from {
    width: 1%;
  }
  to {
    width: 30%;
  }
}
.buy-in-minsk .information {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}
.buy-in-minsk .information .images {
  max-width: 550px;
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: 0;
}
.buy-in-minsk .information .images img {
  width: 100%;
}

.buy-in-minsk .information .text .info ul li {
  font-size: 16px;
}
.buy-in-minsk .information .text .info p {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.buy-in-minsk .information .text .info p:last-child {
  margin-bottom: 0;
}
.buy-in-minsk .information .text .info p span {
  color: var(--yellow);
  font-weight: 600;
}
.buy-in-minsk .information .text .call-to-action .phone-number {
  text-align: center;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--light-blue);
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}
.buy-in-minsk .information .text .call-to-action .phone-number:hover {
  color: var(--light-blue-hover);
  text-decoration: underline;
}

/* =========================== buy-delivery =========================== */
.buy-delivery {
  margin-bottom: 96px;
}
.buy-delivery .headline {
  margin-bottom: 50px;
  width: 49%;
}
.buy-delivery .headline h2 {
  text-align: right;
  font-weight: 400;
  font-size: 30px;
  color: var(--dark-blue);
}
.buy-delivery .headline h2::after {
  content: "";
  display: flex;
  width: 24%;
  margin-top: 10px;
  border-radius: 2px;
  background: var(--yellow);
  height: 2px;
  margin-right: 0;
  margin-left: auto;
}
.buy-delivery .headline:hover h2::after {
  animation-name: headlineUnderline24;
  animation-duration: 1s;
}
@keyframes headlineUnderline24 {
  from {
    width: 1%;
  }
  to {
    width: 24%;
  }
}
.buy-delivery .container .concrete .items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.buy-delivery .container .concrete .items .item {
  background: var(--dark-blue);
}
.buy-delivery .container .concrete .items .item.rent {
  background: var(--yellow);
}
.buy-delivery .container .concrete .items .item {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 55px;
  height: 100%;
  min-height: 360px;
}
.buy-delivery .container .concrete .items .item p:first-child {
  color: var(--white);
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.1;
}
.buy-delivery .container .concrete .items .item p:last-child {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}
.buy-delivery .container .concrete .items .item ul {
  margin-bottom: 36px;
}
.buy-delivery .container .concrete .items .item ul li {
  font-size: 16px;
  color: var(--white);
}
.buy-delivery .container .concrete .items .item ul li::marker {
  color: var(--text-gray);
}
.buy-delivery .container .concrete .items .item ul li a {
  text-decoration: none;
  color: var(--light-blue);
  transition: 0.2s;
}

.buy-delivery .container div .items .item ul li a:hover {
  opacity: 0.8;
}
.buy-delivery .container .concrete .items .item p span {
  color: var(--yellow);
}
.buy-delivery .container .concrete .items .item.rent p span {
  color: var(--dark-blue);
}
.buy-delivery .container .concrete .items .item.rent ul li a:hover {
  color: var(--dark-blue);
}
.buy-delivery .container .concrete .items .item.img {
  padding: 0;
  object-fit: cover;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.buy-delivery .container .concrete .items .item.img img {
  height: 100%;
  width: 540px;
}

/* ============================ concrete-delivery ============================ */
.concrete-delivery.wrapper {
  max-width: 90%;
}
.concrete-delivery .container {
  display: flex;
  gap: 60px;
}
.concrete-delivery .container .headline {
  width: 68rem;
}
.concrete-delivery .container .headline h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 49px;
  color: var(--dark-blue);
}
.concrete-delivery .container .headline h2::after {
  content: "";
  display: flex;
  width: 33%;
  margin-top: 6px;
  border-radius: 2px;
  background: var(--yellow);
  height: 2px;
  margin-right: 0;
  margin-left: auto;
}
.concrete-delivery .container .headline:hover h2::after {
  animation-name: headlineUnderline33;
  animation-duration: 1s;
}
@keyframes headlineUnderline33 {
  from {
    width: 1%;
  }
  to {
    width: 33%;
  }
}
.concrete-delivery .container .headline p {
  font-size: 16px;
  text-align: right;
  line-height: 1.8em;
  max-width: 500px;
  margin-right: 0;
  margin-left: auto;
}
.concrete-delivery .container .advantages .head {
  margin-bottom: 80px;
}
.concrete-delivery .container .advantages .head p {
  font-size: 16px;
  text-align: left;
  line-height: 1.8em;
  margin-top: 5px;
}
.concrete-delivery .container .advantages .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.concrete-delivery .container .advantages .items .item {
  padding: 20px 25px 25px;
  background: var(--dark-blue);
  cursor: crosshair;
}
.concrete-delivery .container .advantages .items .item:hover p:first-child {
  font-size: 22px;
}
.concrete-delivery .container .advantages .items .item:hover {
  background-image: url(../assets/working-truck.webp);
}
.concrete-delivery .container .advantages .items .item p:first-child {
  font-size: 18px;
  color: var(--yellow);
  font-family: "Oswald", sans-serif;
  margin-bottom: 0.4em;
  transition: all 0.2s ease;
}
.concrete-delivery .container .advantages .items .item p:last-child {
  font-size: 16px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  line-height: 1.8em;
}

/* ====================== logo-slider =========================== */

.logo-slider {
  overflow: hidden;
  height: 125px;
  position: relative;
  overflow: hidden;
  cursor: grab;
  margin-top: 120px;
  margin-bottom: 110px;
}
.logo-slider.wrapper {
  max-width: 1140px;
}
.logo-slider .logo-slider-container {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}
.logo-slider .logo-slider-container .slide {
  height: 125px;
  border: 2px solid #e9e9e9;
}

.logo-slider .logo-slider-container .slide img {
  object-fit: cover;
  height: 100%;
}

/* ====================== .call-to-action-slider ============================== */

.call-to-action-slider-container {
  position: relative;
  margin-bottom: 60px;
}
.call-to-action-slider-container .slider {
  position: relative;
}
.call-to-action-slider-container .call-to-action-slider .slide {
  position: relative;
  width: 100%;
  display: flex;
  height: 690px;
}
.call-to-action-slider-container .call-to-action-slider .slide img {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.call-to-action-slider-container .call-to-action-slider .slide .content {
  position: absolute;
  width: 100%;
  top: 26%;
  text-align: center;
  font-size: 88px;
  color: var(--white);
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  p:first-child {
  margin-bottom: 30px;
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  p:nth-child(2) {
  margin-bottom: 12px;
}
.call-to-action-slider-container .call-to-action-slider .slide .content p {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: var(--white);
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  .call-to-action {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  .call-to-action
  .phone-number {
  text-decoration: none;
  color: var(--yellow);
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  .call-to-action
  .phone-number:hover {
  text-decoration: underline;
  color: var(--light-yellow);
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  .call-to-action
  .call-button {
  font-size: 16px;
  margin-top: 35px;
}
.call-to-action-slider-container
  .call-to-action-slider
  .slide
  .content
  .call-to-action
  .online-request {
  font-size: 16px;
}

/* =========================== buy-with-mixer ============================= */

.buy-with-mixer.wrapper {
  max-width: 95%;
}
.buy-with-mixer {
  display: flex;
  gap: 65px;
  margin-bottom: 90px;
}
.buy-with-mixer .left {
  width: 90em;
}
.buy-with-mixer .left .head h2 {
  text-align: right;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 50px;
  color: var(--dark-blue);
}
.buy-with-mixer .left .head h2::after {
  content: "";
  display: flex;
  width: 31%;
  margin-top: 10px;
  border-radius: 2px;
  background: var(--yellow);
  height: 2px;
  margin-right: 0;
  margin-left: auto;
}
.buy-with-mixer .left .head:hover h2::after {
  animation-name: headlineUnderline31;
  animation-duration: 1s;
}
@keyframes headlineUnderline31 {
  from {
    width: 1%;
  }
  to {
    width: 31%;
  }
}
.buy-with-mixer .left .head p {
  font-size: 16px;
  text-align: right;
  line-height: 1.8em;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 30px;
}

.buy-with-mixer .left .head .call-to-action {
  max-width: 560px;
  width: 100%;
}
.buy-with-mixer .left .head .call-to-action a,
.buy-with-mixer .left .head .call-to-action button {
  font-size: 16px;
}
.buy-with-mixer .right p {
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 15px;
}
.buy-with-mixer .right .need-concrete {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--dark-blue);
  margin-bottom: 20px;
}
.buy-with-mixer .right .need-concrete span {
  color: var(--yellow);
}
.buy-with-mixer .right p:first-child {
  margin-top: 8px;
}
.buy-with-mixer .right ul {
  margin-bottom: 35px;
}
.buy-with-mixer .right ul li {
  font-size: 16px;
}
.buy-with-mixer .right .quote {
  display: flex;
  margin-bottom: 20px;
}
.buy-with-mixer .right .quote p {
  margin: 0;
  padding: 10px 20px;
  color: var(--yellow);
}
.buy-with-mixer .right .quote::before {
  content: "";
  display: flex;
  height: auto;
  width: 8px;
  background: #eee;
}

/* ==================== recent =========================== */

.recent {
  background: var(--dark-blue);
  padding-bottom: 140px;
  margin-bottom: 90px;
}
.recent .container .projects {
  padding-top: 94px;
}
.recent .container .projects h2 {
  font-size: 28px;
  color: var(--white);
  font-weight: normal;
  text-align: center;
}
.recent .container .projects h2::after {
  content: "";
  display: flex;
  width: 34px;
  height: 4px;
  border-radius: 2px;
  background: var(--light-yellow);
  margin: 8px auto 0;
}
.recent .container .projects h2:hover::after {
  animation-name: headlineUnderline34px;
  animation-duration: 0.6s;
}
@keyframes headlineUnderline34px {
  from {
    width: 0;
  }
  to {
    width: 34px;
  }
}
.recent .container .projects p {
  text-align: center;
  color: var(--white);
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.recent .container .projects .projects-images {
  overflow: hidden;
  height: 300px;
  position: relative;
  overflow-x: scroll;

  scrollbar-width: auto;
  scrollbar-color: var(--yellow) var(--dark-blue);
}
.recent .container .projects .projects-images .items {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  left: 0;
  top: 0;
  /* pointer-events: none; */
}
.recent .container .projects .projects-images .items .item {
  height: 265px;
  position: relative;
}

.recent .container .projects .projects-images .items .item img {
  object-fit: cover;
  height: 100%;
}

.recent .container .projects .projects-images .items .item .short-info {
  position: absolute;
  background: var(--dark-blue);
  left: 5%;
  top: 5%;
  bottom: 5%;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  display: flex;
  transition: 0.4s;
  transform: translateX(-100px);
  z-index: -1;
}
.recent .container .projects .projects-images .items .item:hover .short-info {
  right: 5%;
  /* display: flex; */
  opacity: 0.9;
  width: auto;
  outline: 2px solid var(--yellow);
  z-index: 9;
  transform: translateX(0);
}
.recent
  .container
  .projects
  .projects-images
  .items
  .item
  .short-info
  .info
  p:first-child {
  margin: 0 auto;
  color: var(--white);
  font-family: sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
  transition: all 0.8s cubic-bezier(0.74, 0, 0.31, 1.01);
  margin-bottom: 40px;
  opacity: 0;
}
.recent
  .container
  .projects
  .projects-images
  .items
  .item
  .short-info
  .info
  p:last-child {
  margin: 0;
  color: var(--yellow);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.8s cubic-bezier(0.74, 0, 0.31, 1.01);
  margin-top: 40px;
  opacity: 0;
}
.recent
  .container
  .projects
  .projects-images
  .items
  .item:hover
  .short-info
  .info
  p:first-child {
  transform: translateY(20px);
  opacity: 1;
}
.recent
  .container
  .projects
  .projects-images
  .items
  .item:hover
  .short-info
  .info
  p:last-child {
  transform: translateY(-20px);
  opacity: 1;
}
.recent .container .projects .projects-images .items .item .short-info .info {
  margin: auto;
}

.recent .container .projects .projects-images::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 300px;
}

.recent .container .projects .projects-images::-webkit-scrollbar {
  background-color: var(--dark-blue);
  height: 8px;
}

.recent .container .projects .projects-images::-webkit-scrollbar-thumb {
  background-color: var(--light-yellow);
  border-radius: 10px;
}
.recent .container .projects .projects-images::-webkit-scrollbar-thumb:hover {
  background-color: var(--yellow);
}

.recent .container .shipment {
  max-width: 1520px;
  margin: 0 auto;
}
.recent .container .shipment h2 {
  text-align: center;
  color: var(--white);
  font-size: 30px;
  font-weight: normal;
  margin-top: 65px;
}
.recent .container .shipment h2::after {
  content: "";
  display: flex;
  background: var(--light-yellow);
  width: 160px;
  height: 2px;
  border-radius: 2px;
  margin: 8px auto 0;
}
.recent .container .shipment h2:hover::after {
  animation-name: headlineUnderline160px;
  animation-duration: 0.8s;
}
@keyframes headlineUnderline160px {
  from {
    width: 0;
  }
  to {
    width: 160px;
  }
}
.recent .container .shipment p {
  margin-top: 30px;
  color: var(--white);
  font-size: 16px;
  text-align: center;
  line-height: 1.8em;
}
.recent .container .shipment .videos {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 70px;
}
.recent .container .shipment .videos .video video {
  width: 320px;
  height: 560px;
  display: flex;
}

/* ============================ blog ======================= */

.blog {
  margin-bottom: 100px;
}
.blog.wrapper {
  max-width: 1150px;
}
.blog .head {
  display: flex;
}
.blog .head h2 {
  font-weight: normal;
  font-size: 30px;
  max-width: 300px;
  width: 100%;
}
.blog .head h2::after {
  content: "";
  display: flex;
  width: 34px;
  height: 5px;
  background: var(--light-yellow);
  border-radius: 4px;
  margin-top: 6px;
}
.blog .head h2:hover::after {
  animation-name: headlineUnderline34px;
  animation-duration: 0.5s;
}
.blog .head p {
  font-size: 16px;
  max-width: 555px;
  width: 100%;
  line-height: 1.8em;
}

.blog .head a {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: var(--light-yellow);
  border: 2px solid var(--light-yellow);
  border-radius: 2px;
  transition: 0.2s ease;
}
.blog .head a:hover {
  color: var(--white);
  background: var(--dark-blue);
}
.blog .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;
}
.blog .posts .item {
  overflow: hidden;
  border-radius: 5px;
}
.blog .posts .item a:hover img {
  transform: scale(1.1);
  width: 100%;
}
.blog .posts .item a img {
  width: 100%;
  display: flex;
  transition: 0.4s;
}
.blog .posts .item .content {
  border: 1px solid #e8e8e8;
  padding: 20px 30px;
  background: var(--white);
  z-index: 9;
  position: relative;
}
.blog .posts .item .content .date {
  margin-bottom: 25px;
  display: flex;
}
.blog .posts .item .content .date p {
  color: #9a9a9a;
  font-size: 14px;
}
.blog .posts .item .content .date img {
  width: 100%;
  max-width: 14px;
  margin-right: 5px;
}
.blog .posts .item .content a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: var(--dark-blue);
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  transition: 0.2s;
}
.blog .posts .item .content a:hover {
  color: var(--yellow);
}
.blog .posts .item .content p {
  font-size: 14px;
  line-height: 1.57em;
  letter-spacing: 0.1px;
}

/* ==================== media-screen ====================== */
@media screen and (max-width: 1600px) {
  .slider-container .slider .slide .content {
    font-size: 70px;
  }
}
@media screen and (max-width: 1400px) {
  .slider-container .slider .slide .content {
    font-size: 65px;
  }
}
@media screen and (max-width: 1366px) {
  .slider-container .slider .slide .content {
    font-size: 56px;
  }
}
@media screen and (max-width: 1280px) {
  .slider-container .slider .slide .content {
    font-size: 52px;
  }
  .recent .container .projects .projects-images::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 120px;
  }
}
@media screen and (max-width: 1180px) {
  .logo-slider.wrapper {
    max-width: 80%;
  }
  .logo-slider.wrapper {
    height: 110px;
  }
  .logo-slider .logo-slider-container .slide {
    height: 110px;
  }
}

@media screen and (max-width: 1080px) {
  /* ======================= buy-delivery ================= */
  .buy-delivery .container .concrete .items {
    grid-template-columns: repeat(2, 1fr);
  }
  .buy-delivery .container .concrete .items .item:nth-child(1) {
    order: 1;
  }
  .buy-delivery .container .concrete .items .item:nth-child(2) {
    order: 2;
  }
  .buy-delivery .container .concrete .items .item:nth-child(3) {
    order: 4;
  }
  .buy-delivery .container .concrete .items .item:nth-child(4) {
    order: 3;
  }
  .buy-delivery .container .concrete .items .item:nth-child(5) {
    order: 6;
  }
  .buy-delivery .container .concrete .items .item:nth-child(6) {
    order: 5;
  }
  .buy-delivery .container .concrete .items .item:nth-child(7) {
    order: 7;
  }
  .buy-delivery .container .concrete .items .item:nth-child(8) {
    order: 8;
  }
  /* ================= blog ==================== */
  .blog.wrapper {
    max-width: 80%;
  }
  .blog .head {
    flex-direction: column;
  }
  .blog .head h2 {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .blog .head p {
    max-width: 100%;
    text-align: justify;
    margin-bottom: 20px;
  }
  .blog .head a {
    margin-left: 0;
    margin-right: auto;
  }
  .blog .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1020px) {
  .slider-container .slider .slide .content {
    font-size: 60px;
  }
  .recent .container .shipment .videos {
    max-width: 700px;
  }
  .recent .container .shipment .videos .video video {
    width: auto;
    height: 520px;
  }
  .scroll-to-top {
    width: 35px;
    height: 35px;
    right: 10px;
    bottom: 10px;
  }
  .scroll-to-top img {
    max-width: 12px;
  }
}

@media screen and (max-width: 940px) {
  .slider-container .slider .slide .content {
    font-size: 55px;
  }
}
@media screen and (max-width: 870px) {
  .slider-container .slider .slide .content {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  /* ==================== slider ================ */
  .slider-container .slider .slide .content {
    font-size: 44px;
  }
  .slider-container .slider .slide .content {
    top: 30%;
  }
  /* ======================= about ================= */
  .about .container {
    margin-top: -70px;
  }
  .about .container .items {
    flex-direction: column;
  }
  .about .container .items .item {
    padding: 40px 20px;
  }
  .about .container .items .item span {
    font-size: 60px;
  }
  .about .container .items .number p {
    font-size: 30px;
  }

  /* ======================= buy-in-minsk ================= */
  .buy-in-minsk.wrapper {
    max-width: 90%;
  }
  .buy-in-minsk .headline {
    width: 100%;
  }
  .buy-in-minsk .information {
    display: flex;
    flex-direction: column;
  }
  .buy-in-minsk .information .text .info p {
    text-align: justify;
  }
  .buy-in-minsk .information .images {
    display: contents;
  }

  /* ======================= buy-delivery ================= */
  .buy-delivery .headline {
    width: 100%;
    max-width: 90%;
  }
  .buy-delivery .container .concrete .items {
    display: flex;
    flex-direction: column;
  }
  .buy-delivery .container .concrete .items .item.img {
    max-height: 340px;
    overflow: hidden;
  }
  .buy-delivery .container .concrete .items .item.img img {
    width: 100%;
    max-height: 470px;
  }
  .buy-delivery .container .concrete .items .item:nth-child(n) {
    order: unset;
  }
  .buy-delivery .container .concrete .items .item:nth-child(5) {
    order: 2;
  }
  .buy-delivery .container .concrete .items .item:nth-child(6) {
    order: 1;
  }
  .buy-delivery .container .concrete .items .item:nth-child(7) {
    order: 4;
  }
  .buy-delivery .container .concrete .items .item:nth-child(8) {
    order: 3;
  }
  .buy-delivery .container .concrete .items .item {
    min-height: unset;
  }
  /* =================== concrete-delivery ================== */
  .concrete-delivery .container {
    flex-direction: column;
  }
  .concrete-delivery .container .headline {
    width: 100%;
  }
  .concrete-delivery .container .advantages .items {
    display: flex;
    flex-direction: column;
  }
  /* =================== logo-slider ================== */

  .logo-slider .logo-slider-container {
    gap: 30px;
  }

  .logo-slider.wrapper {
    height: 90px;
    max-width: 100%;
  }
  .logo-slider .logo-slider-container .slide {
    height: 90px;
  }
  /* ================= call-to-action-slider-container ======================= */
  .call-to-action-slider-container
    .call-to-action-slider
    .slide
    .content
    .call-to-action {
    max-width: 96%;
  }
  /* ==================== buy-with-mixer===================== */
  .buy-with-mixer {
    flex-direction: column;
  }
  .buy-with-mixer.wrapper {
    max-width: 90%;
  }
  .buy-with-mixer .left {
    width: 100%;
  }
  .buy-with-mixer .left .head .call-to-action {
    max-width: none;
  }
  .buy-with-mixer .right p {
    text-align: justify;
  }
  .buy-with-mixer .right .need-concrete {
    max-width: 560px;
  }

  /* ==================== recent ===================== */
  .recent {
    padding-bottom: 60px;
  }

  .recent .container .projects {
    padding-top: 60px;
  }
  .recent .container .projects h2 {
    font-size: 20px;
  }
  .recent .container .projects h2::after {
    margin: 6px auto 0;
    height: 3px;
    width: 36px;
  }
  .recent .container .projects p {
    margin-top: 20px;
  }
  /* .recent .container .projects .projects-images {
    overflow: visible;
    height: auto;
  }
  .recent .container .projects .projects-images .items {
    grid-template-columns: repeat(2, 1fr);
    position: static;
  }
  .recent .container .projects .projects-images .items .item {
    height: auto;
  }
  .recent .container .projects .projects-images .items .item img {
    width: 100%;
  } */
  .recent .container .projects .projects-images .items .item {
    height: 220px;
  }
  .recent .container .shipment .videos {
    flex-direction: column;
    max-width: fit-content;
    gap: 20px;
  }
  .recent .container .shipment .videos .video video {
    width: 300px;
    height: 540px;
  }
}

@media screen and (max-width: 540px) {
  .slider-container .slider .slide .content {
    font-size: 36px;
  }
  .blog .posts {
    grid-template-columns: 1fr;
  }
  .recent
    .container
    .projects
    .projects-images
    .items
    .item
    .short-info
    .info
    a {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .slider-container .slider .slide .content {
    font-size: 32px;
  }
}
